@model CreateSchoolModel
<h1>Sign Up</h1>
<div style="margin:0 auto;width:50%;display:flex;justify-content:center; border-radius: 60px; box-shadow: 0 0 40px rgba(8,7,16,0.6);">
    <div>
        <form class="row g-3" style="width: 400px " asp-controller="Schools" asp-action="CreateSchool" enctype="multipart/form-data"  method="post">
    <div>
        <input name="Photo" class="form-control" asp-for="Photo" type="file" />
        <span class="text-danger" asp-validation-for="Photo"></span>
    </div>

    <div>
        <input name="Name" class="form-control" asp-for="Name" type="text" placeholder="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div>
        <input name="Description" class="form-control" asp-for="Description" type="text" placeholder="Description" />
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
            <button class="form-control" type="submit">Create</button>
        </form>
    </div>
</div>
